{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link rel="stylesheet" href="{% static 'styles/background.css' %}">
        <link rel="stylesheet" href="{% static 'styles/loader.css' %}">
        <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
        <script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
        {% block extra_css %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </head>
    <body class="loading">
        <div id="loading" class="preloader">
            <div class="loader"></div>
        </div>
            <div class="content-wrapper">
            <div class="content header" data-display="flex">
                <div class="logo">
                    <img class="logo-img" src="{% static 'images/main_logo.webp' %}" alt="Агросервис">
                    <img class="logo-text" src="{% static 'images/logo_text_white.webp' %}" alt="Foltz">
                </div>
                <div class="nav-buttons">
                    <a href="{% url 'services:services' %}">
                        <button class="header-button">
                            <span class="span">
                                <svg viewBox="0 0 16 16" class="bi bi-lightning-charge-fill" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"></path>
                                </svg>
                                <span>УСЛУГИ</span>
                            </span>
                        </button>
                    </a>
                    <a href="{% url 'about' %}">
                        <button class="header-button">
                            <span class="span">
                                <svg viewBox="0 0 16 16" class="bi bi-lightning-charge-fill" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"></path>
                                </svg>
                                <span class="span">О НАС</span>
                            </span>
                        </button>
                    </a>
                    <a href="{% url 'blog:blog' %}">
                        <button class="header-button">
                            <span class="span">
                                <svg viewBox="0 0 16 16" class="bi bi-lightning-charge-fill" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"></path>
                                </svg>
                                <span class="span">БЛОГ</span>
                            </span>
                        </button>
                    </a>
                    <a href="{% url 'services:services' %}">
                        <button class="header-button">
                            <span class="span">
                                <svg viewBox="0 0 16 16" class="bi bi-lightning-charge-fill" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"></path>
                                </svg>
                                <span class="span">КОНТАКТЫ</span>
                            </span>
                        </button>
                    </a>
                </div>
                <div class="burger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="content header" data-display="flex">
                <div class="logo">Логотип</div>
                <div class="nav-buttons">
                    <a href="{% url 'home' %}">Главная</a>
                    <a href="{% url 'services:services' %}">Услуги</a>
                    <a href="{% url 'about' %}">О нас</a>
                    <a href="{% url 'blog:blog' %}">Блог</a>
                </div>
                <div class="burger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <main>
                <div class="background content" data-display="flex"></div>
                {% block content %}
                {% endblock %}
            </main>
        </div>    
        <div class="footer">
            <div class="footer-content">
                <p>© 2024 Your Company. Все права защищены.</p>
                <div class="footer-links">
                    <a href="{% url 'privacy' %}">Политика конфиденциальности</a>
                    <a href="{% url 'terms_of_service' %}">Условия использования</a>
                    <a tel="+375295410647">+375(29) 541-06-47</a>
                </div>
            </div>
        </div>
    </body>
</html>