{% extends 'base.html' %}

{% block title %}Наши услуги{% endblock %}

{% block content %}
<!-- forms/templates/forms/popup.html -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}
<!-- Нихуёво было бы стили написать -->
<!-- CSP Нахуй блокнет эту залупу
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModalBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
--->