.footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    min-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
