    <link href="{% static 'autocomplete_light/select2.css' %}" rel="stylesheet">
    <link href="{% static 'autocomplete_light/select2-bootstrap.css' %}" rel="stylesheet">
    <form id="search-form" method="get" action="{% url 'services:service-search' %}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="django-select2" data-autocomplete-light-url="{% url 'services:service-autocomplete' %}" autocomplete="off">
        <div id="title-suggestions" class="suggestions-box"></div>

        <label for="category">Category:</label>
        <input type="text" id="category" name="category" class="django-select2" data-autocomplete-light-url="{% url 'services:category-autocomplete' %}" autocomplete="off">
        <div id="category-suggestions" class="suggestions-box"></div>

        <label for="tag">Tag:</label>
        <input type="text" id="tag" name="tag" class="django-select2" data-autocomplete-light-url="{% url 'services:tag-autocomplete' %}" autocomplete="off">
        <div id="tag-suggestions" class="suggestions-box"></div>

        <button type="submit">Search</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'autocomplete_light/select2.js' %}"></script>
    <script src="{% static 'autocomplete_light/your_dal_init.js' %}"></script>
